@using BackOffice.Translates
@model BackOffice.Models.MainMenuViewModel
@{
    Layout = null;
}

<ul class="sidemenu" style="width: 201px;">
    <li class="smi" data-url="@Url.Action("Index", "ChangeMyPassword", new {area = "Users"})" data-text="@Phrases.ChangeMyPassword"></li>
    <li class="smi" data-url="@Url.Action("Index", "Assets", new {area = "Dictionaries"})" data-text="@Phrases.DictionaryAssets"></li>
    <li class="smi smiSub" data-url="@Url.Action("Index", "AssetPairs", new {area = "Dictionaries"})" data-text="@Phrases.DictionaryAssetPairs"></li>

    <li class="smi" data-url="@Url.Action("Index", "Management" , new {area="Users" })" data-text="@Phrases.Users"></li>
</ul>



