@using BackEnd
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/png" />
    <title>Lykke Back Office</title>
    @Styles.Render(BundleConfig.BackOfficeCss)

    @Scripts.Render(BundleConfig.BackOfficeScripts)

</head>
<body style="overflow-y: hidden">
@Html.Partial("PartialInitScript")
@RenderBody()
@Html.Partial("PartialModalDialog")
</body>
</html>
