@using BackOffice.Translates
@using Core.Clients
@model BackOffice.Areas.Clients.Models.ClientViewFindViewModel

@{
    Layout = null;

    if (Model.PersonalData == null)
    {
        <h1>@Phrases.ClientNotFound</h1>
        return;
    }
}

<h3>Client Id: @Model.PersonalData.Id</h3>
<h3>Email: @Model.PersonalData.Email</h3>
<h3>FullName: @Model.PersonalData.FullName</h3>


@RenderClientSessions(Model.Sessions)

@helper RenderClientSessions(IClientSession[] sessions)
{

    <table class="table" style="width: 80%; margin: auto">
        <tr>
            <th>
                @Phrases.Date
            </th>
            <th>
                @Phrases.LastAction
            </th>
            <th>
                @Phrases.Device
            </th>
            <th>

            </th>
        </tr>


        @foreach (var clientSession in sessions)
        {
            <tr>
                <td>
                    @clientSession.Registered
                </td>
                <td>
                    @clientSession.LastAction
                </td>
                <td>
                    @clientSession.ClientInfo
                </td>
                <td>
                    <button class="btn btn-xs btn-primary"
                            onclick="ui.showDialog('@Url.Action("DeleteConfirmationDialog","Sessions", new {area="Clients"})', {ClientId:'@clientSession.ClientId', Token:'@clientSession.Token'})">@Phrases.KickSession</button>
                </td>
            </tr>
        }
    </table>
}