@using LykkeMarketPlace.Services
@using LykkeMarketPlace.Strings
@model LykkeMarketPlace.Models.SignInDialogViewModel

@{
    Layout = null;
}

<div class="panel panel-default" style="width: 500px; margin: 100px auto 0 auto;">
    <div class="panel-heading">
        <h3 class="panel-title">@Phrases.SignIn</h3>
    </div>
    <div class="panel-body">
        <form id="frmAuth">
            @if (string.IsNullOrEmpty(Model.Email))
            {
                @HelpersUi.RenderEditAndLabelFocused(Phrases.Email, "Email", "email")
                @HelpersUi.RenderEditAndLabel(Phrases.Password, "Password", "password")
            }
            else
            {
                @HelpersUi.RenderEditAndLabel(Phrases.Email, "Email", "email", Model.Email)
                @HelpersUi.RenderEditAndLabelFocused(Phrases.Password, "Password", "password")

            }
        </form>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;">
                    <div style="margin-top: 15px;"><a style="cursor: pointer" onclick="requests.doRequest({ url: '@Url.Action("SignUpDialog")', divResult: '#entranceContent', showLoading: true });">@Phrases.DoNotHaveAnAccount</a>
                    </div>
                    <div>
                        @foreach (var langId in ControllerLangExtention.GetLanguages())
                        {
                            <a href="@Url.Action("Index", new {langId})"><img class="lang-icon" src="~/Images/Lang/@(langId).png" /></a>
                        }
                    </div>

                </td>
                <td>
                    @HelpersUi.RanderActionButton("log-in", Phrases.SignIn, Url.Action("SignIn"), "#frmAuth")

                    
                </td>
            </tr>
        </table>
    </div>
</div>